<% title t('.title', :section => @section.name.camelize)  %>

<table>
  <thead>
    <tr>
      <td>&nbsp;</td>
      <td>Video</td>
      <td>Author</td>
      <td>Email</td>
      <td>Texto</td>
      <td>Fecha</td>
      <td />
    </tr>
  </thead>
  <tbody>
  <% @comments.each do |comment| %>
  <tr>
    <td><%= image_tag comment.video.preview.url %></td>
    <td><%= comment.video.title %></td>
    <td><%= comment.author %></td>
    <td><%= comment.email %></td>
    <td><%= truncate comment.body %></td>
    <td><%= comment.updated_at.fecha %></td>
    <td><%= link_to t('app.edit'), edit_section_comment_path(@section, comment) %></td>
  </tr>
  <% end %>
  </tbody>
</table>
