
<% semantic_form_for([@section,@video], :html => {:multipart => true}) do |form|  %>
  <% form.inputs do %>
    <%= form.input :title%>
    <%= form.input :url %>
    <%= form.input :generator, :as => 'select', :collection => ['movshare', 'vimeo', 'no-disponible'], :include_blank => false %>
    <%= form.input :preview, :as => :file %>
    <div class="attachment">
      <% if @video.preview? %>
        <p>Actualmente la imágen es:</p>
        <%= image_tag @video.preview.url %>
        <p>Para modificarla, sube otra.</p>
      <% end %>
      <p>Las imágenes de previsualización de vídeo deben tener un tamaño exacto de 100x75 pixels</p>
    </div>
    <%= form.input :animation, :as => :file %>
    <div class="attachment">
      <% if @video.animation? %>
        <p>Actualmente la imágen es:</p>
        <%= image_tag @video.animation.url %>
        <p>Para modificarla, sube otra.</p>
      <% end %>
      <p>Las imágenes de previsualización de vídeo deben tener un tamaño exacto de 100x75 pixels</p>
    </div>
  <% end %>
  <% form.buttons do %>
    <%= form.commit_button %>
    <%= link_to 'Cancelar', section_videos_path(@section) %>
  <% end %>
<% end %>