<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $("#main_video").video({url: '<%= @video.url %>', generator : '<%= @video.generator %>', width: 426, height: 319});
    });
  </script>
<% end %>

<div id="content">
  <div id="content_top">&nbsp;</div>
  <%= image_tag('elements/imagen_intro.png', :width => '426', :height => 1009) %>
  <%= render 'videos', :videos => @section.videos, :action => 'intro' %>
</div>
<div id="side">
  <div id="viewer">
    <div class="video" id="main_video"></div>
  </div>
  <div id="comments-head">&nbsp;</div>
  <div id="comments">
    <%= render 'comment' %>
    <%= render 'comments', :object => @video.comments %>
  </div>
</div>
