<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>FLO6x8 &#9733 <%= @section.title %> </title>
    <link rel="icon" href="/flo.ico" type="image/x-icon" />
    <link href=' http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'flo_public' %>
    <% if RAILS_ENV == 'production' %>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <% else %>
      <%= javascript_include_tag 'jquery.min.js' %>
    <% end %>
    <%= javascript_include_tag 'flo.video.js', 'jquery.infieldlabel.min' %>
    <%= yield :head %>
    <script type="text/javascript">
        $(function() {
          $("label").inFieldLabels();
        })
    </script>
  </head>
  <body class="<%= @section.name %>">
    <div id="background" class="<%= @section.name %>">
      <div id="page">
        <div id="header">
          <div id="logo"></div>
          <div id="banner"></div>
        </div>
        <ul id="menu">
          <li><%= section('intro') %></li>
          <li><%= section('acciones') %></li>
          <li><%= section('tutorial') %></li>
          <li><%= section('faq') %></li>
        </ul>
        <div id="main">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/ga' %>
  </body>
</html>